
.bg-1 {
    width: 300px; height: 300px;
    background: url('../img/css_sprites.png') -750px -10px;
}
.bg-2 {
    width: 225px; height: 224px;
    background: url('../img/css_sprites.png') -10px -750px;
}
.bg-3 {
    width: 720px; height: 720px;
    background: url('../img/css_sprites.png') -10px -10px;
}

.bg-4 {
    width: 275px; height: 183px;
    background: url('../img/css_sprites.png') -750px -330px;
}
.bg-3::before{content: 'developer.org'}